BasedOnStyle: GNU
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignTrailingComments: true
ReflowComments: true
BinPackArguments: false
BinPackParameters: false
